test:
  stage: test
  image: lorisleiva/laravel-docker:8.3
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'  # Only runs in MR pipelines
      when: always  # Explicitly set to always run when condition is met
    - when: never  # Never run in any other case

  before_script:
    - cp /etc/gitlab-runner/certs/ca.crt /usr/local/share/ca-certificates/
    - update-ca-certificates

    - echo xdebug.mode=coverage >> /usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini
    - composer config --global --auth gitlab-token.internal-git.alpen.ffhs.ch ${CI_JOB_TOKEN}
    - composer install --prefer-dist --no-ansi --no-interaction --no-progress --no-scripts

    - ./vendor/bin/testbench vendor:publish --tag="filament-package_ffhs_utils-migrations"
    - ./vendor/bin/testbench vendor:publish --tag="filament-package_ffhs_custom_forms-migrations"
    - ./vendor/bin/testbench workbench:build
  script:
    - php -d memory_limit=512M vendor/bin/pest --coverage
  coverage: /Total:\s*([^%]+)/

