setup:
  stage: setup
  image: lorisleiva/laravel-docker:8.4
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      when: always
    - when: never
  before_script:
    - cp /etc/gitlab-runner/certs/ca.crt /usr/local/share/ca-certificates/
    - update-ca-certificates
    - composer config --global gitlab-oauth.internal-git.alpen.ffhs.ch ${COMPOSER_AUTH_TOKEN}
  script:
    - composer install --prefer-dist --no-ansi --no-interaction --no-progress --no-scripts
  artifacts:
    paths:
      - vendor/
    expire_in: 1 hour
  cache:
    key:
      files:
        - composer.lock
    paths:
      - vendor/

.base_job:
  image: lorisleiva/laravel-docker:8.4
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'  # Only runs in MR pipelines
      when: always  # Explicitly set to always run when condition is met
    - when: never  # Never run in any other case
  dependencies:
    - setup
  before_script:
    - cp /etc/gitlab-runner/certs/ca.crt /usr/local/share/ca-certificates/
    - update-ca-certificates

build_css_js:
  stage: build
  extends: .base_job
  before_script:
    - !reference [ .base_job, before_script ]
    - npm install
    # Git-Konfiguration für Commits
    - git config user.email "gitlab-ci@ffhs.ch"
    - git config user.name "GitLab CI"
    - rm -rf resources/dist
    - mkdir resources/dist
  script:
    - npm run build
    - |
      if [ -n "$(git status --porcelain resources/dist)" ]; then
        echo "Changes detected in resources/dist, committing..."
        git add resources/dist
        git commit -m "chore: update built assets [skip ci]"

        # Push zurück zum Branch
        git push https://oauth2:${CI_PUSH_TOKEN}@${CI_SERVER_HOST}/${CI_PROJECT_PATH}.git HEAD:${CI_COMMIT_REF_NAME}
      else
        echo "No changes in resources/dist"
      fi

php-tests:
  stage: test
  extends: .base_job
  before_script:
    - !reference [ .base_job, before_script ]
    - echo xdebug.mode=coverage >> /usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini
    - ./vendor/bin/testbench vendor:publish --tag="filament-package_ffhs_utils-migrations"
    - ./vendor/bin/testbench vendor:publish --tag="filament-package_ffhs_custom_forms-migrations"
    - ./vendor/bin/testbench workbench:build
  script:
    - php -d memory_limit=512M vendor/bin/pest --coverage
  coverage: /Total:\s*([^%]+)/

stan:
  stage: stan
  extends: .base_job
  script:
    - ./vendor/bin/phpstan analyse --error-format=gitlab

