.base_after_merge_job:
  image: node:latest
  before_script:
    - cp /etc/gitlab-runner/certs/ca.crt /usr/local/share/ca-certificates/
    - update-ca-certificates
    - apt-get update && apt-get install -y jq git
    - git config user.email "gitlab-ci@ffhs.ch"
    - git config user.name "GitLab CI"

publish:
  stage: publish
  extends: .base_after_merge_job
  rules:
    - if: '$CI_COMMIT_TAG =~ /^v/ && $CI_COMMIT_TAG !~ /dev/'
  script:
    - 'curl --fail-with-body --header "Job-Token: $CI_JOB_TOKEN" --data tag=$CI_COMMIT_TAG "${CI_API_V4_URL}/projects/$CI_PROJECT_ID/packages/composer"'

# Publishes a tag/branch to Composer Packages of the current project
publish-dev:
  stage: publish
  extends: .base_after_merge_job
  rules:
    - if: '$CI_MERGE_REQUEST_ID' # Ensures the job does not run in MR pipelines
      when: never
    - if: '$CI_COMMIT_BRANCH =~ /^develop\/.*$/ && $CI_PIPELINE_SOURCE == "push"' # Runs only on push after MR merge
  script:
    - VERSION=$(jq -r '.version' composer.json)
    - TAG_NAME=v${VERSION}-alpha.${CI_JOB_ID}
    - 'echo "Tag to create: $TAG_NAME"'
    -  git tag -d "$TAG_NAME" || true
    - 'git tag $TAG_NAME  # Create the tag locally'
    - 'git push https://oauth2:${GITHUB_TOKEN}@${CI_SERVER_HOST}/$CI_PROJECT_PATH.git $TAG_NAME'  # Use CI_JOB_TOKEN to authenticate
    - 'curl --fail-with-body --header "Job-Token: $CI_JOB_TOKEN" --data tag=$TAG_NAME "${CI_API_V4_URL}/projects/$CI_PROJECT_ID/packages/composer"'

publish-main:
  extends: .base_after_merge_job
  stage: publish
  only:
    - main
  script:
    - VERSION=$(jq -r '.version' composer.json)
    - TAG_NAME=v${VERSION}
    - |
       if git rev-parse "$TAG_NAME" >/dev/null 2>&1; then
         git tag -d "$TAG_NAME" || true
         git push origin --delete "$TAG_NAME" || true
       fi
    - 'git tag $TAG_NAME  # Create the tag locally'
    - 'git push https://oauth2:${CI_PUSH_TOKEN}@${CI_SERVER_HOST}/$CI_PROJECT_PATH.git $TAG_NAME'
    - 'curl --fail-with-body --header "Job-Token: $CI_JOB_TOKEN" --data tag=$TAG_NAME "${CI_API_V4_URL}/projects/$CI_PROJECT_ID/packages/composer"'

update-on-github:
  extends: .base_after_merge_job
  stage: publication
  only:
    - main
  before_script:
    # Install ssh client if not present (for minimal images)
    - 'which ssh-agent || (apt-get update -y && apt-get install -y openssh-client)'

    # Start ssh agent
    - eval "$(ssh-agent -s)"

    # Add private key (stored in GitLab CI variable SSH_PRIVATE_KEY)
    - echo "$GITHUB_SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -

    # Create SSH directory
    - mkdir -p ~/.ssh
    - chmod 700 ~/.ssh

    # Add GitHub to known_hosts
    - ssh-keyscan github.com >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts

    # Configure remote
    - git remote remove github 2>/dev/null || true
    - git remote add github "git@github.com:${GITHUB_REPO}.git"
  script:
    - git push github HEAD:refs/heads/main --force
