stan:
  stage: stan
  image: lorisleiva/laravel-docker:8.3
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'  # Only runs in MR pipelines
      when: always  # Explicitly set to always run when condition is met
    - when: never  # Never run in any other case

  before_script:
    - cp /etc/gitlab-runner/certs/ca.crt /usr/local/share/ca-certificates/
    - update-ca-certificates
    - echo xdebug.mode=coverage >> /usr/local/etc/php/conf.d/docker-php-ext-xdebug.ini
    - composer config --global gitlab-oauth.internal-git.alpen.ffhs.ch ${COMPOSER_AUTH_TOKEN}
    - composer install --prefer-dist --no-ansi --no-interaction --no-progress --no-scripts
  script:
    - ./vendor/bin/phpstan analyse --error-format=X

